.app-title {
  text-align: center;
}

.app-holder-note {
  display: flex;
  justify-content: center;
}

.app-holder {
  border: solid black medium;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  width: 45vw;
  height: 80vh;
  overflow: auto;
}

.holder-card {
  border: solid gray medium;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.app-note {
  border: solid black medium;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  width: 45vw;
  height: 80vh;
  overflow: auto;
}

.note-disp-edit-area {
  border: solid gray medium;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

textarea {
  width: 40vw;
  height: 70vh;
  resize: none;
  border: none;
}
